In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql+psycopg2://user:pass@localhost:5432/sales')
df = pd.read_sql("""
    SELECT date, SUM(qty) AS total_qty
    FROM sales
    GROUP BY date
    ORDER BY date
""", engine)

In [2]:
df

           date  total_qty
0    2023-01-01         38
1    2023-01-02         38
2    2023-01-03         35
3    2023-01-04         38
4    2023-01-05         38
..          ...        ...
360  2023-12-27         37
361  2023-12-28         33
362  2023-12-29         34
363  2023-12-30         35
364  2023-12-31         41

[365 rows x 2 columns]

In [3]:

df['ds'] = pd.to_datetime(df['date'])
df['y']  = df['total_qty']

In [4]:
df

           date  total_qty         ds   y
0    2023-01-01         38 2023-01-01  38
1    2023-01-02         38 2023-01-02  38
2    2023-01-03         35 2023-01-03  35
3    2023-01-04         38 2023-01-04  38
4    2023-01-05         38 2023-01-05  38
..          ...        ...        ...  ..
360  2023-12-27         37 2023-12-27  37
361  2023-12-28         33 2023-12-28  33
362  2023-12-29         34 2023-12-29  34
363  2023-12-30         35 2023-12-30  35
364  2023-12-31         41 2023-12-31  41

[365 rows x 4 columns]

In [5]:
from prophet import Prophet
m = Prophet(daily_seasonality=True)
m.fit(df[['ds','y']])

C:\Users\rusla\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm
Importing plotly failed. Interactive plots will not work.
17:23:04 - cmdstanpy - INFO - Chain [1] start processing
17:23:04 - cmdstanpy - INFO - Chain [1] done processing

In [6]:
future = m.make_future_dataframe(periods=30)
forecast = m.predict(future)

In [8]:
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,daily,daily_lower,daily_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2023-01-01,38.431496,36.288030,44.153208,38.431496,38.431496,1.710821,1.710821,1.710821,2.062325,2.062325,2.062325,-0.351504,-0.351504,-0.351504,0.0,0.0,0.0,40.142317
1,2023-01-02,38.567978,36.380507,44.607331,38.567978,38.567978,1.948136,1.948136,1.948136,2.062325,2.062325,2.062325,-0.114189,-0.114189,-0.114189,0.0,0.0,0.0,40.516114
2,2023-01-03,38.704460,36.662211,44.556680,38.704460,38.704460,1.890197,1.890197,1.890197,2.062325,2.062325,2.062325,-0.172127,-0.172127,-0.172127,0.0,0.0,0.0,40.594658
3,2023-01-04,38.840942,37.064679,45.590439,38.840942,38.840942,2.428743,2.428743,2.428743,2.062325,2.062325,2.062325,0.366419,0.366419,0.366419,0.0,0.0,0.0,41.269686
4,2023-01-05,38.977425,36.559061,44.259772,38.977425,38.977425,1.505743,1.505743,1.505743,2.062325,2.062325,2.062325,-0.556581,-0.556581,-0.556581,0.0,0.0,0.0,40.483168
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,2024-01-26,35.005717,33.264551,41.359031,34.164709,35.828634,2.216892,2.216892,2.216892,2.062325,2.062325,2.062325,0.154568,0.154568,0.154568,0.0,0.0,0.0,37.222609
391,2024-01-27,35.133427,33.860004,41.656241,34.244161,36.036315,2.735739,2.735739,2.735739,2.062325,2.062325,2.062325,0.673414,0.673414,0.673414,0.0,0.0,0.0,37.869166
392,2024-01-28,35.261138,32.713631,40.923605,34.332228,36.218843,1.710821,1.710821,1.710821,2.062325,2.062325,2.062325,-0.351504,-0.351504,-0.351504,0.0,0.0,0.0,36.971958
393,2024-01-29,35.388848,32.932444,41.491113,34.413037,36.401307,1.948136,1.948136,1.948136,2.062325,2.062325,2.062325,-0.114189,-0.114189,-0.114189,0.0,0.0,0.0,37.336984
394,2024-01-30,35.516558,33.204638,41.722158,34.498872,36.581799,1.890197,1.890197,1.890197,2.062325,2.062325,2.062325,-0.172127,-0.172127,-0.172127,0.0,0.0,0.0,37.406756

In [7]:
import joblib
joblib.dump(m, 'week1-day6-prophet.pkl')

['week1-day6-prophet.pkl']